<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>Practice Syntax of English Service</title>
  <link rel="stylesheet" href="/static/style.css?v=3">
  <script src="/static/login.js" defer></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>Practice Syntax of English Service</h1>
        </div>
        <div class="content">
            <div class="login-form">
                <h3>Sign In</h3>
                <div class="form-group">
                    <label for="username">user name</label>
                    <input id="username" type="text" placeholder="ユーザー名を入力">
                </div>
                <div class="form-group">
                    <label for="password">password</label>
                    <input id="password" type="password" placeholder="パスワードを入力">
                </div>
            </div>
            <div class="button-area">
                <button id="loginButton">
                    Sign In
                </button>
                <button onclick="location.href='/edit_user'">
                    Sign Up
                </button>
            </div>
        </div>
        <div class="footer">
            <p>&copy; 2026 Practice Syntax of English Service. All rights reserved.</p>
        </div>
    </div>
</body>
</html>