<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>Practice Syntax of English Service</title>
  <link rel="stylesheet" href="/static/style.css?v=3">
  <script src="/static/regist_syntax.js?v=3" defer></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>Practice Syntax of English Service</h1>
        </div>
        <div class="content">
            <div class="regist-form">
                <h3>Regist syntax</h3>
                <div class="form-group">
                    <label for="syntaxId">syntax ID</label>
                    <input id="syntaxId" type="text" placeholder="シンタックスIDを入力" disabled>
                </div>
                <div class="form-group">
                    <label for="automaticNumbering">Automatic numbering</label>
                    <input id="automaticNumbering", type="checkbox" checked>
                </div>
                <div class="form-group">
                    <label for="syntax">syntax</label>
                    <input id="syntax" type="text" placeholder="シンタックスを入力">
                </div>
                <div class="form-group">
                    <label for="meaning">meaning</label>
                    <input id="meaning" type="text" placeholder="意味を入力">
                </div>
            </div>
            <div class="button-area">
                <button id="registButton">
                    regist
                </button>
                <button onclick="location.href='/start'">
                    back to start
                </button>
            </div>
        </div>
        <div id="modal">
            <div id="modal-content">
                <p id="syntaxId-display"></p>
                <p id="syntax-display"></p>
                <p id="meaning-display"></p>
                <p id="condition-message"></p>
                <div class="button-area">
                    <button id="next-button" onclick="location.href='/start'">START画面へ</button>
                    <button id="continue-button" onclick="location.href='/regist_syntax'">続けて登録</button>
                </div>
            </div>
        </div>
        <div class="footer">
            <p>&copy; 2026 Practice Syntax of English Service. All rights reserved.</p>
        </div>
    </div>
</body>
</html>