<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>Practice Syntax of English Service</title>
  <link rel="stylesheet" href="/static/style.css?v=2">
  <script src="/static/start.js?v=2" defer></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>Practice Syntax of English Service</h1>
        </div>
        <div class="content">
            <form class="start-form" id="startForm" novalidate>
                <h2>start page</h2>
                <div class="form-group">
                    <label for="numberquestions">Number of questions</label>
                    <input id="numberquestions" name="numberquestions" type="number" placeholder="数字を入力">
                </div>
                <div class="form-group">
                    <label for="levelCategorySelect">Level category</label>
                    <select id="levelCategorySelect" name="levelCategorySelect">
                        <option value="0">-- カテゴリを選択してください --</option>
                        <option value="1">CEFR</option>
                        <option value="2">IELTS</option>
                        <option value="3">TOEIC</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="levelSelect">Level</label>
                    <select id="levelSelect" name="levelSelect">
                        <option value="0">-- レベルを選択してください --</option>
                    </select>
                </div>
                <div class="button-area">
                    <button id="submitButton" type="submit">
                        start
                    </button>
                </div>
                <div class="button-area">
                    <button type="button" onclick="location.href='/list_syntax'">
                        List Syntax
                    </button>
                    <button type="button" onclick="location.href='/edit_syntax'">
                        edit Syntax
                    </button>
                </div>
                <div class="button-area">
                    <a href='/edit_user?mode=update'>edit user</a>
                    <a href='/edit_user?mode=delete'>delete user</a>
                    <a href='/'>log out</a>
                </div>
            </form>

        </div>
        <div class="footer">
            <p>&copy; 2026 Practice Syntax of English Service. All rights reserved.</p>
        </div>
    </div>
</body>
</html>